[Unit]
Description=NRF24 date/time server.

[Service]
Type=notify
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/usr/local/bin/nrf24_timed
ExecStart=/usr/local/bin/nrf24_timed/venv/bin/python /usr/local/bin/nrf24_timed/nrf24_timed.py /usr/local/etc/nrf24_timed.ini
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=default.target
